<div class="flex flex-column full-viewport-height">
    <div>
        <h2 class="ui header">
            <div class="content">
                <i class="icon {{if model.isAddon 'puzzle' 'desktop'}}"></i>
              {{model.name}}
                <div class="sub header">{{model.path}}</div>
            </div>
        </h2>

      {{#if model.serveCommand.running}}
          <button class="ui labeled red icon button" {{action 'stopServer'}}>
              <i class="stop square icon"></i>
              Stop Ember server
          </button>
          <button class="ui icon button"
                  title="Open in web browser" {{action 'openExternal' (concat "http://127.0.0.1:" model.cli.port)}}>
              <i class="external square icon"></i>
          </button>
      {{else}}
          <div class="ui labeled green icon button" {{action 'startServer'}}>
              <i class="play square icon"></i>
              Start Ember server
          </div>
      {{/if}}

        <div class="ui icon buttons">
            <button class="ui button"
                    title="Open package.json" {{action 'openItem' (concat model.path '/package.json')}}>
                <i class="file text icon"></i>
            </button>
            <button class="ui button" title="Open project in file manager" {{action 'showItemInFolder' model.path}}>
                <i class="folder icon"></i>
            </button>
        </div>

        <button class="negative ui right floated labeled icon button" {{action 'removeProject'}}>
            <i class="remove icon"></i>
            Remove
        </button>

      {{#if model.serveCommand.running}}
        {{#if model.isServing}}
            <div class="ui icon positive message">
                <i class="checkmark icon"></i>
                <div class="content">
                    <div class="header">Ember server running</div>
                    <p>at <code>http://127.0.0.1:{{model.cli.port}}</code></p>
                </div>
            </div>
        {{else}}
            <div class="ui icon warning message">
                <i class="notched circle loading icon"></i>
                <div class="content">
                    <div class="header">starting Ember project</div>
                    <p>{{model.serveCommand.stdout}}</p>
                </div>
            </div>
        {{/if}}
      {{/if}}

        <div class="ui secondary pointing menu">
          {{#link-to 'project.detail.log' model class='item'}}Log{{/link-to}}
          {{#link-to 'project.detail.actions' model class='item'}}Actions{{/link-to}}
          {{#link-to 'project.detail.install.npm' class='item' currentWhen='project.detail.install'}}Packages{{/link-to}}
            <a class="item">Project settings</a>
          {{#link-to 'project.detail.statistics' model class='item'}}Statistics{{/link-to}}
        </div>
    </div>
    <div class="flex-fill">
      {{outlet}}
    </div>
</div>