<form class="ui form">
    <div class="field">
        <label>package name</label>
        <div class="ui fluid icon input">
            <input type="text" placeholder="Search..."
                   oninput={{action 'updateSearchResult'}}>
            <i class="search icon"></i>
        </div>
    </div>
</form>

<h4 class="ui header">Found packages</h4>

<table class="ui very compact table">
    <thead>
    <tr>
        <th>name</th>
        <th>version</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each searchResults as |package|}}
        <tr>
            <td><a href="{{package.homepage}}">{{package.name}}</a></td>
            <td>{{package.version}}</td>
            <td>
              {{#if (or (get project.model.package.devDependencies package.name) (get project.model.package.devDependencies package.name))}}
                  <button class="ui disabled fluid button">
                      <i class="checkmark icon"></i>
                      Already installed
                  </button>
              {{else}}
                {{#if package.command.running}}
                    <button class="ui fluid icon loading button" {{action 'install' package}}>
                        Installing
                    </button>
                {{else}}
                    <button class="ui fluid labeled icon button" {{action 'install' package}}>
                        <i class="plus icon"></i>
                        Install
                    </button>
                {{/if}}
              {{/if}}
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
{{outlet}}
