<div class="ui fluid container">
    <div class="ui celled stackable grid">
        <div class="base-col five wide tablet six wide computer four wide large screen three wide widescreen column">
            <div class="flex full-viewport-height flex-column">
                <div class="ui center aligned basic segment">
                    <h2 class="ui center aligned header">Hearth</h2>
                </div>

                <div class="ui horizontal divider">Ember</div>

                <div class="ui center aligned basic segment application-controls">
                    <div class="ui fluid buttons">
                      {{#link-to 'project.new' class='ui labeled icon green button'}}
                          <i class="icon star"></i>
                          New project
                      {{/link-to}}
                        <button class="ui right labeled icon button" {{action 'addProject'}}>
                            <i class="icon plus"></i>
                            Add existing
                        </button>
                    </div>
                </div>
                <div class="ui horizontal divider">projects</div>
                <div class="flex-fill">
                    <div class="ui vertical text menu fluid">
                      {{#each model as |project|}}
                        {{#link-to 'project.detail' project class='item'}}
                            <div class="ui blue label">{{project.package.version}}</div>
                          {{#if project.serveCommand.running}}
                            {{#if project.isServing}}
                                <i class="icon check circle green" title="running"></i>
                            {{else}}
                                <i class="icon asterisk loading yellow" title="started"></i>
                            {{/if}}
                          {{/if}}
                            <i class="icon {{if project.isAddon 'puzzle' 'desktop'}}"></i>
                          {{project.name}}
                        {{/link-to}}
                      {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="base-col eleven wide tablet ten wide computer twelve wide large screen thirteen wide widescreen column">
          {{outlet}}
        </div>
    </div>
</div>